{{!-- * Setup the `index.handlebars` to have the template that Handlebars can render onto. --}}
{{!-- * Create a button in `index.handlebars` that will submit the user input into the database. --}}
<h1>Eat Da Burger!</h1> 
<h2>Noms on buns for you!</h2>

<ul>
  {{#each Burger}}
  {{/each}}
</ul>

<h2>Place an Order Here</h2>

<button type='submit'>Get it hot!</button>